.divAbout {
    margin: 20px 100px 0px 100px;
  }
  
  .h1About {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
    font-size: 30px;
    margin: 10px
  }
  
  .pAbout {
    text-indent: 50px;
    text-align: center;
    letter-spacing: 3px;
  }