.divAbout {
    margin: 20px 200px 0px 200px;
  }
  
  .h1About {
    text-align: center;
    text-transform: uppercase;
    color: #555;
    font-size: 30px;
    margin: 10px
  }
  
  .pAbout {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
  }